
<div class="popup services-edit">
    <div class="dark-blue-container colored-header text-center">
        <div class="text">Редактировать</div>
    </div>
    <div class="popup-content form-horizontal">
        {{ form_start(edit_form, {'action':path('adservices_edit',{'idServices':app.request.get('idServices')})}) }}
        <div class="services-main">
            <span class="service-name">{{ form_widget(edit_form.services) }}</span>
            <span class="service-price">{{ form_widget(edit_form.price) }}</span>
        </div>
        <div class="services-description full-size-field">
            {{ form_widget(edit_form.description) }}
        </div>
        <div class="text-buttons text-right form-horizontal">
            <button type="submit" class="blue-href " >
                <div class="big-text">Сохранить</div>
            </button> 
        </div>
        {{ form_end(edit_form) }}
        
    </div>
</div>

