{% extends 'base.html.twig' %}

{% block body %}
    <div>
        {% if ads | length %}
            {% for ad in ads %}
                <div class="wide-container ad-admin-container flex-container">
                    <div class="photo-block image-with-overlay-label">
                        {% if ad.user.photo %}
                            <img src="{{photo_path}}{{ad.user.photo}}">
                        {% else %}
                            <img class='no-avatar' src="{{ asset('bundles/app/img/avatar.png') }}">
                        {% endif %}

                    </div>
                    <div class="info-block white-container short-block">
                        <div class="ad-head flex-container dark-blue-container">    
                            <div>
                                <div class="employee-name">{{ ad.user }}</div>
                                <div class="ad-subject">{{ ad.subject}}</div>
                            </div>
                            <div>
                                <div class="employee-rating">{{ ad.user.rating}}</div>
                            </div>
                        </div>
                        <div class="ad-content">
                            <div class="flex-container text-buttons">
                                <a class="detail-href interactive" href="{{ path('ad_show', { 'idAd': ad.idAd }) }}">
                                    Просмотр 
                                </a> 
                                <a class="detail-href interactive" href="{{ path('ad_edit', { 'idAd': ad.idAd }) }}">
                                    Редактирование
                                </a> 
                            </div>

                            <div class='ad-description'>{{ ad.adText|length <= 300 ? ad.adText : ad.adText|slice(0, 300)~'...' }}</div>
                            <div class="ad-date-status flex-container">
                                <div class='opacity-text'>{{ ad.adate|date('Y-m-d') }}</div>
                                <div class='opacity-text'>
                                    {%if ad.state==0%}
                                        <div> В работе</div>
                                    {%elseif ad.state==1%}
                                        <div> Ожидает публикации</div>
                                    {%else%}
                                        <div> Опубликовано</div>
                                    {%endif%}
                                </div>
                            </div>
                            <div class='flex-container text-buttons'>
                                <div class='opacity-text'>
                                    Тип размещения: {{ ad.services }}
                                </div>
                                <div class='opacity-text'>
                                    Действителен до: {% if ad.dateServ %}{{ ad.dateServ|date('Y-m-d') }}{% endif %}
                                </div>
                            </div>

                        </div>

                        <div class="ad-footer">

                            <div class='info-path'>
                                {{ ad.town }}
                            </div>
                            <div class=" info-path">
                                {{ ad.user.education }}
                            </div>
                            <div class='info-path'>
                                {{ ad.user.experience }} 
                            </div>
                            <div class='info-path' >
                                {{ad.place}}
                            </div>

                            <div class="info-path ">
                                {{ ad.price }}{{ ad.currency }}/{{ ad.durability }}{{ ad.value }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {%else%}
        <div class="white-container wide-container short-block">
            <div class='no-content underlined-block'>
                Нет заявок на публикацию объявлений.
            </div>
        {% endif %}
    </div>


{% endblock %}
