{% extends 'base.html.twig' %}

{% block body %}
    <div class="narrow-container white-container">
        {{ form_start(edit_form) }}
        <div class="dark-blue-container colored-header">
            Редактирование
        </div>
        <div class="ad-edit-content">
            <div class="ad-row flex-container">
                <div>
                    Предмет
                </div>
                <div>
                    {{ form_widget(edit_form.subject) }}
                </div>
            </div>
            <div class="ad-row form-horizontal underlined-block">                
                <div class="full-size-field">
                    {{ form_widget(edit_form.adText) }}
                </div>
            </div>

            <div class="ad-row flex-container">
                <div>
                    Область
                </div>
                <div>
                    {{ form_widget(edit_form.region) }}
                </div>
            </div>
            <div class="ad-row flex-container">
                <div>
                    Город
                </div>
                <div>
                    {{ form_widget(edit_form.town) }}
                </div>
            </div>
            <div class="ad-row underlined-block flex-container">
                <div>
                    Район
                </div>
                <div>
                    {{ form_widget(edit_form.area) }}
                </div>
            </div>
            <div class="ad-row flex-container">
                <div>
                    Место проведения
                </div>
                <div>
                    {{ form_widget(edit_form.place) }}
                </div>
            </div>
            <div class="ad-row underlined-block flex-container">
                <div>
                    Онлайн-уроки
                </div>
                <div>
                    {{ form_widget(edit_form.online) }}
                </div>
            </div>
            <div class="ad-row flex-container">
                <div>
                    Цена
                </div>
                <div class="edit-price">
                    {{ form_widget(edit_form.price) }}{{ form_widget(edit_form.currency) }}
                </div>
            </div>
            <div class="ad-row underlined-block flex-container">
                <div>
                    Время
                </div>
                <div class="edit-durability">
                    {{ form_widget(edit_form.durability) }}{{ form_widget(edit_form.value) }}
                </div>
            </div>

            <div class="ad-row underlined-block">
                <div>
                    Тип размещения
                </div>
                <div>
                    {{ form_widget(edit_form.services) }}
                </div>
            </div>
        </div>
        <button type="submit" class="blue-href right-block" >
            <div>Сохранить</div>
        </button> 

        {{ form_end(edit_form) }}

        {{ form_start(send_form) }}
        <button type="submit" class="green-href right-block" >
            
            <div>На публикацию</div>
        </button>
        {{ form_end(send_form) }}

        {{ form_start(pay_form) }}
        <button type="submit" class="yellow-href right-block" >
           
            <div class="right-block">Оплатить</div>
        </button>
        {{ form_end(pay_form) }}
        {{ form_start(delete_form) }}
        <button type="submit" class="red-href left-block" >
            
            <div class="left-block">Удалить</div>
        </button>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
