{% extends 'base.html.twig' %}

{% block body %}
    <div class="narrow-container white-container short-block">
        {{ form_start(form) }}
        <div class="dark-blue-container colored-header text-center">
            Создание
        </div>
        <div class="ad-edit-content">
            <div class="ad-row flex-container">
                <div>
                    Специализация
                </div>
                <div>
                    {{ form_widget(form.subject) }}
                </div>
            </div>
            <div class="ad-row flex-container form-horizontal underlined-block">                
                <div class="full-size-field">
                    {{ form_widget(form.adText) }}
                </div>
            </div>

            <div class="ad-row flex-container">
                <div>
                    Область
                </div>
                <div>
                    {{ form_widget(form.region) }}
                </div>
            </div>
            <div class="ad-row flex-container">
                <div>
                    Город
                </div>
                <div>
                    {{ form_widget(form.town) }}
                </div>
            </div>
            <div class="ad-row flex-container">
                <div>
                    Условия работы
                </div>
                <div>
                    {{ form_widget(form.place) }}
                </div>
            </div>
            <div class="ad-row flex-container">
                <div>
                    Цена
                </div>
                <div class="edit-price">
                    {{ form_widget(form.price) }}{{ form_widget(form.currency) }}
                </div>
            </div>
            <div class="ad-row flex-container underlined-block">
                <div>
                    Время
                </div>
                <div class="edit-durability">
                    {{ form_widget(form.durability) }}{{ form_widget(form.value) }}
                </div>
            </div>

            <div class="ad-row flex-container underlined-block">
                <div>
                    Тип размещения
                </div>
                <div>
                    {{ form_widget(form.services) }}
                </div>
            </div>
            <div class=" underlined-block ad-row flex-container">
                <a class="red-href" href="{{ path('ad_index') }}">
                    <div class="big-text">Отмена</div>
                </a> 
                <button type="submit" class="blue-href" >
                    <div class="big-text">Сохранить</div>
                </button> 

            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
