{% extends 'base.html.twig' %}

{% block body %}
    <div class="wide-container">
        <div class=" user-show">
            <div class="user-item flex-container">
                <div class="photo-block image-with-overlay-label">
                    <span class="overlay-label">{{ user.rating }}</span>
                    {% if user.photo %}
                        <img src="{{photo_path}}{{user.photo}}">
                    {% else %}
                        <img class='no-avatar' src="{{ asset('bundles/app/img/avatar.png') }}">
                    {% endif %}
                </div>
                <div class="info-block white-container short-block ">
                    <div>
                        <div class='user-name underlined-block flex-container'>
                            <div>
                                <div class="surname"><span class="opacity-text">Фамилия : </span>{{ user.surname }}</div>
                                <div class="name"><span class="opacity-text">Имя : </span>{{ user.name }}</div>  
                                <div class="patronymic"><span class="opacity-text">Отчество : </span>{{ user.patronymic }}</div>
                                <div class="phone"><span class="opacity-text">Телефон :  </span>{{ user.phone }}</div>
                            </div>
                            <div>
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}   
                                    {%if app.user.id==user.id %}
                                        <a class="detail-href interactive" href="{{ path('user_edit', { 'id': user.id }) }}">
                                            Редактирование
                                        </a> 
                                    {%endif%}
                                {% endif %}
                            </div>
                        </div>
                        <div class="underlined-block user-education">
                            <div class="education"><span class="opacity-text">Образование : </span>{{ user.education}}</div>
                            <div class="experience"><span class="opacity-text">Опыт работы : </span>{{ user.experience }}</div>
                        </div>
                        <div class="user-about indent-item">
                            <div>{{ user.about }}</div>
                        </div>
                    </div>

                </div> 
            </div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}    
                {%if app.user.id!=user.id %}
                    <div class="white-container wide-container short-block">
                        <div class="dark-blue-container colored-header text-center">Отправить сообщение пользователю:</div>
                        {{ form_start(edit_form)}}
                        <div class='underlined-block form-horizontal'>                        
                            <div class="message-field full-size-field form-block ">{{ form_widget(edit_form.message)}}</div>
                            <div class='form-block text-right'>
                                <input class="light-blue-submit" type="submit" value="Отправить" />
                            </div>
                        </div>
                        {{ form_end(edit_form) }}
                    </div>                
                {%endif%}
            {%else%}
                <div class="attention-header"> ! Только зарегистрированные пользователи могут обмениваться сообщениями! </div>
            {%endif%}

        </div>
    </div>
{% endblock %}
