{% extends 'base.html.twig' %}

{% block body %}
    <div class="user-messages-container">

        <div class="white-container wide-container short-block">
            <div class="colored-header light-blue-container">
                Сообщения
            </div>
            <div class="text-buttons flex-end-container underlined-block">
                <a class="detail-href interactive" href="{{ path('user_index') }}">
                    Поиск пользователей
                </a> 
            </div>
            {% if messages | length%}
                {% for message in messages %}
                    <div class="dialog-item underlined-block">
                        <div class="messages-photo">
                            {% if message.photo %}
                                <img src="{{photo_path}}{{message.photo}}">
                            {% else %}
                                <img class='no-avatar' src="{{ asset('bundles/app/img/avatar.png') }}">
                            {% endif %}
                        </div>

                        <div class="dialog-content">
                            <div class="dialog-user-name">{{ message.name }} {{ message.surname }}</div>
                            <a class="detail-href interactive" href="{{ path('messages_show', { 'idMes': message.id }) }}">
                                Перейти к диалогу
                            </a>                                                                 
                        </div>
                    </div>
                {% endfor%}
            {% else %}
                <div class="no-content underlined-block">
                    У вас пока нет cообщений.
                </div>
            {% endif %}
        </div>
    </div>


{% endblock %}
